[Unit]
Description=Load Pet Clinic data
ConditionPathExists=/home/bootc-user/load_application_data.sh

[Service]
Type=oneshot
ExecStart=/home/bootc-user/load_application_data.sh

[Install]
WantedBy=multi-user.target
