[Unit]
Description=Load Pet Clinic data
ConditionPathExists=/home/bootc-user/load_data
After=mysqld.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/load_application_data.sh

[Install]
WantedBy=multi-user.target
