[Unit]
Description=Service to run the Petclinic application

[Install]
WantedBy=default.target

[Service]
Type=simple
Environment="SPRING_DATASOURCE_PASSWORD=rootpassword"
Environment="SPRING_DATASOURCE_URL=jdbc:mysql://localhost/petclinic?serverTimezone=UTC"
Environment="SPRING_DATASOURCE_USERNAME=root"
ExecStart=/bin/java -jar /opt/spring-petclinic.jar --spring.profiles.active=mysql
ExecStop=/bin/kill -15 $MAINPID
Restart=always
RestartSec=3
SuccessExitStatus=143